<div th:fragment="canvas">
    <div id="mainCanvas">
        <h5><span id="mainCanvasSpan" th:text="${title}"></span></h5>
        <div class="upperCanvas">
            <form method="post" th:object="${added_task}" th:action="@{~/tasks/add}">
                <div class="addTask">
                    <input required type="text" name="title" class="form-control" placeholder="Add a task" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
            <form class="sorting" th:action="@{/tasks}" th:if="${title} == 'My tasks'">
                <select name="sort" onchange="this.form.submit()">
                    <option value="" disabled selected hidden>Choose sorting</option>
                    <option value="taskId">Default</option>
                    <option value="title">Alphabet</option>
                    <option value="isImportant">Importance</option>
                    <option value="localDate">Date</option>
                </select>
            </form>
        </div>
        <div class="card-body" th:each="task : ${all_tasks}" th:style="${task.isDone} ? 'background-color:#F8F8F8;'">
                <div class="doneCheckbox" title="Mark the task as done">
                    <form th:action="@{'/tasks/changeDone/' + ${task.taskId}}" method="post">
                        <label id="doneLabel"><input id="done" type="checkbox" th:checked="${task.isDone}" th:onclick="submit()"><span></span>
                        </label>
                    </form>
                </div>
                <div class="elements">
                    <div class="title" th:style="${task.isDone} ? 'text-decoration:line-through;'">
                        <form th:action="@{'/tasks/changeTitle/' + ${task.taskId}}" method="post">
                            <span th:text="${task.title}" class="card-title" th:onclick="$(this).next('input').toggle(this);"></span>
                            <input required type="text" name="titleChange" class="hiddenInput"  th:placeholder="${task.title}" style="display:none;">
                        </form>
                    </div>
                    <div class="card-body-elements">
                        <div class="dateBlock">
                            <form method="post" th:action="@{'/tasks/changeDate/' + ${task.taskId}}">
                                    <input id="dateIcon" type="date" name="localDate" class="form-control" placeholder="Add date" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <button type="submit" class="btn btn-success">Add date</button>
                            </form>
                        </div>
                        <span th:text="${task.localDate}"></span>
                        <span th:if="${#lists.contains(task.category,T(com.example.demo.Task.Task.Category).Orange)}" class="taskItemInfo-category" title="Orange category"><span class="taskItemInfo-text" style="color: rgb(163, 90, 0); font-size:12px;">Orange category</span></span>

                        <span th:if="${#lists.contains(task.category,T(com.example.demo.Task.Task.Category).Red)}" class="taskItemInfo-category" title="Red category"><span class="taskItemInfo-text" style="color: rgb(208, 27, 42); font-size:12px;">Red category</span></span>

                        <span th:if="${#lists.contains(task.category,T(com.example.demo.Task.Task.Category).Green)}" class="taskItemInfo-category" title="Green category"><span class="taskItemInfo-text" style="color: rgb(37, 126, 32); font-size:12px;">Green category</span></span>

                        <span th:if="${#lists.contains(task.category,T(com.example.demo.Task.Task.Category).Yellow)}" class="taskItemInfo-category" title="Yellow category"><span class="taskItemInfo-text" style="color: rgb(122, 116, 0); font-size:12px;">Yellow category</span></span>

                        <span th:if="${#lists.contains(task.category,T(com.example.demo.Task.Task.Category).Blue)}" class="taskItemInfo-category" title="Blue category"><span class="taskItemInfo-text" style="color: rgb(0, 120, 153); font-size:12px;">Blue category</span></span>

                        <span th:if="${#lists.contains(task.category,T(com.example.demo.Task.Task.Category).Violet)}" class="taskItemInfo-category" title="Violet category"><span class="taskItemInfo-text" style="color: rgb(125, 87, 178); font-size:12px;">Violet category</span></span>

                        <form class="categoryChange" th:action="@{'/tasks/changeCategory/' + ${task.taskId}}" method="post" th:object="${categories}">
                            <div class="dropdown" title="Choose category">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </button>
                            <ul style="list-style-type:none" class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                                <li th:each="categoryy : ${T(com.example.demo.Task.Task.Category).values()}">
                                    <input type="checkbox" th:text="' ' + ${categoryy}" class="categoryCheckboxes" name="categories"  th:checked="${#lists.contains(task.category,categoryy)}" onchange="submit()" th:value="${categoryy}">
                                </li>
                            </ul>
                            </div>
                        </form>
                        <div class="deleteButton" title="Delete the task">
                            <form th:method="delete" th:action="'/tasks/remove/' + ${task.taskId}" method="post">
                                <button  type="submit" name="delete" class="btn-close" aria-label="Close"></button>
                            </form>
                        </div>
                        <div class="importanceCheckbox" title="Mark the task as important">
                            <form th:action="@{'/tasks/changeImportance/' + ${task.taskId}}" method="post">
                                <label id="importanceLabel"><input id="importance" type="checkbox" th:checked="${task.isImportant}" th:onclick="submit()"><span></span>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <style>

    .sorting
    {
        margin-top:6px;
    }

    .card-body
    {
        width: 99%;
        border: 1px black solid;
        margin-top: 7px;
    }

    .doneCheckbox, .card-body > .title
    {
        float:left;
    }

    .card-body-elements
    {
        display: inline-block;
        width:98%;
        margin-left:7px;
    }

    .dateBlock  button, .categoryChange, .card-body-elements > span
    {
        margin-left:5px;
    }

    .deleteButton, .importanceCheckbox
    {
        float:right;
    }

    .importanceCheckbox
    {
        margin-right:30px;
    }

    .dateBlock button, .dateBlock input, .categoryChange
    {
        float: left;
    }

    .importanceAndDelete
    {
        display:flex;
    }

    .checkbox-menu li label {
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        margin:0;
        transition: background-color .4s ease;
    }
    .checkbox-menu li input {
        margin: 0px 5px;
        top: 2px;
        position: relative;
    }

    .checkbox-menu li.active label {
        background-color: #cbcbff;
        font-weight:bold;
    }

    .checkbox-menu li label:hover,
    .checkbox-menu li label:focus {
        background-color: #f5f5f5;
    }

    .checkbox-menu li.active label:hover,
    .checkbox-menu li.active label:focus {
        background-color: #b8b8ff;
    }

    input[type="checkbox"]:not(.categoryCheckboxes)
    {
        display: none;
    }

    label#importanceLabel input[type="checkbox"] + span {
        display:inline-block;
        background:url('../images/star.svg') no-repeat;
        height: 18px;
        width: 20px;
        vertical-align:middle;
    }

    label#importanceLabel input[type="checkbox"]:checked + span{
        background:url('../images/star-fill.svg') no-repeat;
        height: 18px;
        width: 20px;
    }

    label#doneLabel input[type="checkbox"] + span {
        display:inline-block;
        background:url('../images/circle.svg') no-repeat;
        height: 18px;
        width: 20px;
        vertical-align:middle;
    }

    label#doneLabel input[type="checkbox"]:checked + span{
        background:url('../images/circle-fill.svg') no-repeat;
        height: 18px;
        width: 20px;
    }

    label#doneLabel input[type="checkbox"]:not(:checked):hover + span{
        background:url('../images/check-circle.svg') no-repeat;
        height: 18x;
        width: 20px;
    }

    div.dateBlock, div.dateBlock > input,button
    {
        display:inline;
    }

    input#dateIcon
    {
        width:150px;
    }

    .title
    {
        margin-bottom:5px;
        margin-left:8px;
        font-weight:600;
    }


    .title input
    {
        margin-right:5px;
    }

    .title input, .title
    {
        float:left;
    }

    .addTask, .upperCanvas
    {
        display:flex;
        margin-right:7px;
    }

    .addTask input
    {
        margin-right:7px;
        width: 500px;
    }

    span#mainCanvasSpan
    {
        font-weight:bold;
    }

    div#mainCanvas
    {
        display:block;
        width:86%;
        float:right;
        background-color:#F0FFF;
        height:100%;
        min-height:250px;
        padding-top:10px;
        padding-left:15px;
        padding-right:15px;
    }


    @media (max-width: 767px)
    {
        div#mainCanvas
        {
        display:inline-block;
        width:86%;
        float:right;
        background-color:#F0FFFF;
        height:1000px;
        }
    }
    </style>
    <script>
   $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
   $(this).closest("li").toggleClass("active", this.checked);
});
$(document).on('click', '.allow-focus', function (e) {
  e.stopPropagation();
});
</script>



</div>